---
import { Icon } from 'astro-icon/components'
const { project } = Astro.props;

/* Agregar rol a cada proyecto (Frontend, FullStack, etc...) */
---

<article
  class="bg-background-secondary border-2 rounded-lg p-5 flex flex-col w-fit justify-between gap-4 transition max-w-sm"
>
  <figure class="flex items-center justify-center">
    <img
      class="rounded-lg max-w-full max-h-[400px]"
      loading="lazy"
      decoding="async"
      src=`/images/${project.image}`
      alt={project.title}
    />
  </figure>
  <section class="flex flex-1 flex-col justify-between">
    <div class="flex flex-col gap-3">
      <h3 class="text-base md:text-xl font-bold">{project.title}</h3>
      <p class="text-sm md:text-base line-clamp-3 text-slate-100">{project.description[0]}</p>
      <ul class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-3 px-4">
        {
          project.stack.map((tech) => (
            <li>
              <img
                class="w-[60px] aspect-square text-white mx-auto"
                src={"/images/" + tech.toLowerCase() + ".svg"}
                alt={`${tech} logo`}
                loading="lazy"
                decoding="async"
              />
            </li>
          ))
        }
      </ul>
    </div>
    <footer
      class="flex justify-end mt-4"
    >
      <a
        href={`/projects/${project.title.toLowerCase().split(" ").join("-")}`}
        class="bg-primary text-white px-4 py-2 rounded-md hover:bg-secondary transition active:scale-95 w-fit text-sm text-center flex gap-1"
        title="Ver una demostración del proyecto"
        aria-label="Ver una demostración del proyecto"
      >
        Conocer más <Icon name="right-arrow" size={20} ></Icon>
      </a>
    </footer>
  </section>
</article>
