---
import { Image } from "astro:assets";

interface Props {
  name: string;
  text: string;
  image: string;
  role: string;
  linkedin: string;
}

const { text, name, role, image, linkedin } = Astro.props;
---

<article class={`testimonial-card`}>
  <p class="text-sm whitespace-pre-line">"{text}"</p>
  <footer class="flex gap-2 items-center">
    {
      image ? (
        <Image
          src={image}
          alt={name}
          onerror={`this.onerror=null;this.src='https://eu.ui-avatars.com/api/?name=${name.split(" ").join("+")}&size=100'`}
          loading="lazy"
          class="size-10 md:size-12 rounded-full select-none"
          width={100}
          height={100}
        />
      ) : (
        <div class="bg-red-500 rounded-full shadow-md shadow-white p-3" />
      )
    }

    <div class="flex flex-col justify-center text-sm">
      <a href={linkedin} target="_blank" class="font-semibold hover:underline transition"
        >{name}</a
      >
      <span class="text-body-75">{role}</span>
    </div>
  </footer>
</article>

<style>
  @reference "@styles/global.css";

  .testimonial-card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    @apply flex flex-col gap-y-4 px-4 py-4 md:py-6 h-full justify-between bg-secondary-10 border border-primary-10 shadow-md shadow-primary-10 rounded-xl my-4;
  }
</style>